<h2>Actualizar datos del Agente</h2>

<%= render 'form' %>

<div class="botones">
	<div class="regresar_form btn btn-info">
		<i class="fas fa-undo-alt"></i> <%= link_to 'Regresar', agentes_path %>
	</div>
</div>
