<table border="1" id="agentes">
	<thead>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Nombre UDS</th>
		<th>Modalidad</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @agentes %>
	</tbody>
</table>

<div class="dropdown">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Nuevo Agente', new_agente_path, class: "dropdown-item" %>
  </div>
</div>
