<table border="1">
	<thead>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Nombre UDS</th>
		<th>Modalidad</th>
		<th>Correo</th>
		<th>Cedula</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @agentes %>
	</tbody>
</table>

<div class="links">
	<a>Menu</a>
	<%= link_to 'Nuevo Agente', new_agente_path %>
</div>
