<h2>Lista de Agentes</h2>

<div class="botones">
	<div class="btn btn-info">
		<i class="fas fa-user-plus"></i> <%= link_to 'Nuevo Agente', new_agente_path %>
	</div>
	
	<div class="btn btn-success" id="Excel">
		<i class="fas fa-file-excel"></i> <%= link_to 'Excel', agentes_path(format: "xlsx"), :class => "excel" %>
	</div>
</div>

<table id="agentes" class="table">
	<thead>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Nombre UDS</th>
		<th>Modalidad</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @agentes %>
	</tbody>
</table>
