<h2>Lista de Agentes</h2>

<div class="btnNuevo">
	<i class="fas fa-plus"></i> <%= link_to 'Nuevo Agente', new_agente_path %>
</div>

<form action="<%= agentes_path %>" method="GET" class="d-flex justify-content-between align-items-center">
		<button class="btn" formaction="<%= agentes_path(format: :xlsx) %>" type="submit" id="button" >
				<i><img src="/assets/msexcel_svg.svg" alt="icono generar excel"></i></button>
</form>
<table id="agentes" class="table">
	<thead>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Nombre UDS</th>
		<th>Modalidad</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @agentes %>
	</tbody>
</table>
