<%= render 'form' %>

<div class="dropdown">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Regresar', agentes_path, class: "dropdown-item" %>
  </div>
</div>
