<%= email_image_tag("LogoEmpresa.PNG") %>

<h2>Sus datos han sido actualizados</h2>

<p>
  Cordial saludo señor(a) <%= @agente.primerNombre %>, Le informamos que se ha realizado una actualizacion de sus datos en nuestra plataforma.
</p>

<p>
  Estamos para brindar nuestros servicios cuando los necesites.
</p>

<h4>Gracias, Pleadores</h4>
