<%= simple_form_for [@agente, @planeacion] do |f| %>
	<div>
		<label class="Format" for="formato">Formato</label>
		<%= f.select :formato, ([['Formato 1'], ['Formato 2']]) %>
	</div>
	<%= f.input :tematica, input_html: { autocomplete: "off" } %>
	<div class="btnSubmit">
		<%= f.button :submit %>
	</div>
<% end %>
