<h2>Actualizar Datos de Planeación</h2>

<%= render 'form' %>

<div class="botones">
	<div class="regresar_form2 btn btn-info">
		<i class="fas fa-undo-alt"></i> <%= link_to 'Regresar', agente_planeaciones_path(@agente) %>
	</div>
</div>
