<table border="1" id="planeaciones">
	<thead>
		<th>Formato</th>
		<th>Tematica</th>
		<th>Fecha de creacion</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody id="bodyTable">
		<%= render @planeaciones %>
	</tbody>
</table>

<div class="links">
	<a>Menu</a>
	<%= link_to 'Nueva Planeacion', new_agente_planeacion_path(@agente) %>
	<%= link_to 'Ver Agente', agente_path(@agente) %>
</div>
