<h2>Transacciones</h2>

<div class="botones">
	<div class="btn btn-info">
		<i class="fas fa-plus"></i> <%= link_to 'Transaccion', new_agente_transaccion_path(@agente) %>
	</div>

	<div class="btn btn-secondary">
		<i class="fas fa-user-tie"></i> <%= link_to 'Ver agente', agente_path(@agente) %>
	</div>
</div>

<table id="transacciones" class="table">
	<thead>
		<tr>
			<th>Valor</th>
			<th>Medio de Pago</th>
			<th>Fecha de Pago</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
		<%= render @transacciones %>
	</tbody>
</table>
