<table border="1" id="transacciones" class="table">
	<thead class="thead-dark">
		<tr>
			<th>Valor</th>
			<th>Medio de Pago</th>
			<th>Fecha de Pago</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
		<%= render @transacciones %>
	</tbody>
</table>

<div class="dropdown">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<%= link_to 'Nueva Transaccion', new_agente_transaccion_path(@agente), class: "dropdown-item" %>
		<%= link_to 'Ver Agente', agente_path(@agente), class: "dropdown-item" %>
  </div>
</div>
