@import url(header.css);

.Tb1 h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-size: 18pt;
}

table {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}

	table .title {
		font-weight: bold;
		text-align: center;
	}

		table tr td {
			padding: 5px 10px;
			letter-spacing: 0.4px;
		}

			table tr td ol li {
				padding: 5px 10px;
				list-style-type: none;
			}