@import url(header.css);

.modal {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	display: none;
	justify-content: space-around;
	align-items: center;
}

	.modal .cerrar {
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background: #f4f4f4;
		color: #333;
		border-radius: 50%;
		font-weight: bold;
		font-size: 18pt;
		cursor: pointer;

		position: fixed;
		top: 10px;
		left: 10px;

		z-index: 100;
	}

	.modal img {
		height: 90%;
		cursor: zoom-in;
		transition: all .3s;
	}

#galeriaDiagramas {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

	#galeriaDiagramas h1 {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}

	#galeriaDiagramas ul {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(4,1fr);
		grid-gap: 10px;
	}

		#galeriaDiagramas ul li {
			width: 100%;
			border: 1px solid #333;
			list-style-type: none;

			display: flex;
			justify-content: space-around;
			align-items: center;
			overflow: hidden;
			border-radius: 5px;
		}

			#galeriaDiagramas ul li img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all .3s;
				cursor: pointer;
			}

			#galeriaDiagramas ul li img:hover {
				transform: scale(1.2);
			}
