@import url(header.css);

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.ul {
   display: flex;
   list-style: none;
   margin-top: 25px;
}

.ul .hre {
   margin: 0 50px;
   overflow: hidden;


}

.ul  .hre img {
    height: 300px;
    width: 250px;
   transition: all .5s;
   cursor: pointer;

}

.ul .hre img:hover {
   transform: rotate(10deg) scale(1.3) ;

}
.light-box{
  position: fixed;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in-out;

  width: 100%;
  height: 100vh;
  z-index: 1100;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-box img{
  width: 75vw;
  max-height: 75vh;
}

.light-box:target{
  transform: scale(1);
}

.next{
  display: block;
  background: #0a98c0;
  color: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;

}
.next:hover{
  color: #fff;
}


.close{
  float: left;
  margin-top: -35pc;
  color: #fff;
  font-size: 2pc;

}
.close:hover{
  color:  #fff;
}

#modal img {
    width: 90%;
    max-height: 90%;
}
