/* Header */

.header {
	background: #fff;
}

/* =================== */

/* Menu */

#menu {
	position: fixed;
	top: 0;
	left: -2450px;
	background:rgba(0, 0, 0, .6);
	height: 100vh;
	width: 100%;
	z-index: 1100;
	justify-content: space-between;
}

#menu ul {
	position: fixed;
	top: 0;
	left: -2450px;

	list-style: none;
	padding: 20px;

	width: 80%;
	background:rgba(40, 38, 70, .8);
	height: 100%;

	transition: all .5s;
}

#menu ul li {
	margin-bottom: 15px;
}

#menu ul li a {
	color: #fff;
	transition: all .3s;
}

#menu ul li a:hover {
	text-decoration: none;
	color: #8dc2fa;
}

#menu i {
	position: fixed;
	top: 0px;
	right: -100px;

	color: #fff;
	font-size: 20pt;
	padding-top: 20px;
	font-weight: bolder;
}

/* Botones Menú */

#btnAbrirMenu, #btnCerrarMenu {
	cursor: pointer;
}

/* FontAwesome */

div i {
	font-size: 20pt;
}

.redes i {
	color: #fff;
	font-size: 25pt;;
}

/* =================== */

/* Titulos */

h1 a {
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	color: #413e66;
	letter-spacing: 3px;
}

h1 > a:hover {
	text-decoration: none;
	color: #000;
}

h2 {
	font-size: 34px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	color: #413e66;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400px;
	text-align: center;
}

/* =================== */