@import url(header.css);

.container {
	width: 90%;
	margin: 0 auto;
}

	.container h1 {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
		font-size: 18pt;
	}

	.container h3 {
		margin: 20px 0;
	}

	.container p {
		margin: 10px 0; 
		letter-spacing: 0.5px;
		line-height: 25px;
	}

	.container ol {
		display: block;
		margin-right: 200px;
	}

	.container ol li, ul li {
		padding: 10px 15px; 
		list-style: none;
	}.container h5 {
    margin-top: 15px;

}
