@import url(header.css); /* Estilos para el header */

.container {
	margin:0 auto;
	width: 95%;
}

	.container h1 {
		font-size: 20pt;
	}

	.container h3, h1 {
		margin-bottom: 10px;
	}

	.container h1, h3, h4, p {
		color: #333;
	}

	.container p {
		font-weight: normal;
		margin: 15px 0;
		line-height: 25px;
		letter-spacing: 0.3px;
		opacity: 0.9;
	}

		.container .diagramas {
			margin: 20px 0;
			text-align: center;
			width: 150px;
		}

			.container .diagramas a {
				background: #E8E8E8;
				border: 1px solid #333;
				border-radius: 5px;
				color: #333;
				display: block;
				padding: 10px 15px;
				text-decoration: none;
			}
	.container .listas ul li, ol li {
		margin: 15px 0 15px 15px;
	}

	.container table {
		width: 100%;
		text-align: center;
		border-collapse: collapse;
		margin: 20px 0;
		border-color: #000;
	}

		.container table tr td {
			padding: 5px;
		}

		.container table tr td ol {
			list-style: none;
		}

		.container table tr .titulo {
			background: #E8E8E8;
		}

		footer h3 {
			color: #fff;
		}
