* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	font-family: helvetica, neue;
}

header {
	width: 100%;
	height: 100vh;

	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	overflow: hidden;
}

header .toggleMenu {
	position: fixed;
	top: 25px;
	right: 10px;
	cursor: pointer;
	background: #f4f4f4;
	color: #333;
	height: 47px;
	width: 47px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}

header .toggleMenu #symbol {
	font-size: 50pt;
}

header nav {
	width: 100%;
	margin-left: -600px;
	transition: all .3s ease;
}

header nav a {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
	transition: all 0.3s;
}

header nav a:hover {
	color: #333;
}

header .textos {
	width: 50%;
	color: #f4f4f4;
}

header .textos h1 {
	width: 100%;
	margin-left: 50px;
	font-size: 40pt;
	font-weight: normal;
}

header .textos p {
	margin-left: 50px;
	font-size: 15pt;
	margin-top: 30px;
}

header .images {
	width: 50%;
}

header .images img {
	width: 70%;
	height: 70%;
	object-fit: cover;
	border-radius: 10px;
}