* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 1200px;
}

.container p {
	text-align: justify;
}

body, html {
	font-family: helvetica, neue;
}

header {
	width: 100%;
	height: 100vh;

	/*background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/

	animation: slider 15s ease-out infinite alternate;
}

header .bg {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

	header nav {
		width: 100%;
		transition: all .3s ease;
	}

	header .bg {
		background: rgba(0,0,0,.5);
		height: 100vh;
	}

	header .nav {
		width: 100%;
		margin-top: 20px;
	}

		header nav a {
			color: #fff;
			text-decoration: none;
			margin-left: 20px;
			transition: all 0.3s;
		}

		header nav a:hover {
			color: #333;
		}

	header .textos {
		width: 50%;
		color: #f4f4f4;
	}

		header .textos h1 {
			width: 100%;
			margin-left: 50px;
			font-size: 50pt;
			font-weight: normal;
			text-shadow: 1px 2px 0px pink;
		}

		header .textos p {
			margin-left: 50px;
			font-size: 25pt;
			margin-top: 30px;
		}

	header .images {
		width: 50%;
	}

		header .images img {
			width: 70%;
			height: 70%;
			object-fit: cover;
			border-radius: 10px;
		}

#integrantes {
	margin-top: 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

	#integrantes h1 {
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
		font-size: 21pt;
	}

	#integrantes .info {
		width: 80%;
		background: #f4f4f4;
		margin-top: 25px;
		padding: 10px 25px;
		border-radius: 10px;
		cursor: pointer;
	}

		#integrantes .info h2 {
			margin-bottom: 10px;
		}

		#integrantes .info p {
			line-height: 25px;
			font-weight: normal;
			opacity: 0.7;
			letter-spacing: 1px;
		}

footer {
	position: relative;
	margin-top: 100px;
	text-align: center;
	background: #333;
	color: #f4f4f4;
	padding: 20px 0;
	letter-spacing: 1px;
	width: 100%;
}

	footer h3 {
		margin-bottom: 10px;
	}

	footer ul a {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
	}

	footer ul {
		list-style: none;
		text-align: left;
	}

	footer ul li {
		margin-bottom: 10px;
	}

	footer #redes a {
		display: inline-block;
		margin-right: 20px;
	}

	i {
		color: white;
		font-size: 20pt;
	}

/* Curriculum */

div.modal div.cerrar {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f4f4f4;
	color: #333;
	border-radius: 50%;
	font-weight: bold;
	font-size: 18pt;
	cursor: pointer;

	position: fixed;
	top: 10px;
	left: 10px;

	z-index: 100;
}

div.modal {
	position: fixed;
	top: 0;
	left: 0;

	display: none;
	justify-content: center;
	align-items: center;

	background: rgba(0,0,0,.5);

	width: 100%;
	height: 100%;

	z-index: 100;
}

div.modal section.curriculum {
	background: #fff;
	width: 80%;
	height: 90%;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 10px;

	display: none;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	overflow: scroll;
}

	div.modal section.curriculum div.titulo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
	}
		div.modal section.curriculum div.titulo img {
			width: 20%;
		}

		div.modal section.curriculum div.titulo h2 {
			width: 75%;
			text-align: center;
		}

		div.modal section.curriculum h2 {
			width: 90%;
			text-align: center;
			margin: 20px 0;
		}

		div.modal section.curriculum div.infoCurriculum {
			width: 90%;
		}

		div.modal section.curriculum div.infoCurriculum h4 {
			margin-top: 10px;
		}

		div.modal section.curriculum table {
			width: 100%;
			margin-top: 20px;
			border-collapse: collapse;
		}

		div.modal section.curriculum table tr td {
			padding: 5px;
		}

		.btnInfo {
			background: #333;
		    color: #f4f4f4;
		    transition: all .3s;
		    cursor: pointer;
		    display: block;
		    padding: 10px 15px;
		    border-radius: 5px;
		    border: none;
		    margin-top: 10px;
		    outline: none;
		}

		.btnInfo:hover {
			background: rgb(238,174,202);
	        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	        color: #f4f4f4;
		}


/* KeyFrames */
@keyframes slider {
	0% {
		background-image: url('../img/bg1.jpg');
		background-size: cover;
	background-repeat: no-repeat;
	} 50% {
		background-image: url('../img/bg4.jpg');
		background-size: cover;
	background-repeat: no-repeat;
	} 100% {
		background-image: url('../img/bg3.jpg');
		background-size: cover;
	background-repeat: no-repeat;
	}
}
