* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, html {
	font-family: helvetica, neue;
}

header {
	width: 100;
	height: 100px;

	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

    margin-bottom: 100px;
}

header .toggleMenu {
	position: fixed;
	top: 25px;
	right: 10px;
	cursor: pointer;
	background: #f4f4f4;
	color: #333;
	height: 47px;
	width: 47px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}

header .toggleMenu #symbol {
	font-size: 50pt;
}

header nav {
    width: 100%;
    margin-left: -600px;
    transition: all .3s ease;
    margin-top: -17px;
}

header nav a {
    color: #FEF5F5;
    text-decoration: none;
    margin-left: 20px;
    transition: all 0.3s;
    margin-top: 0px;
}

header nav a:hover {
	color: #333;
}
.Card {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
    background: #f4f4f4;
    padding: 10px 25px;
    border-radius: 20px;
}
.Card h1 {
    font-size: 20pt;
    color: #333;
    margin-bottom: 10px;
}

.Card h2 {
    font-size: 15pt;
    margin-bottom: 25px;
    color: #333;
}
.Card p {
    letter-spacing: .7px;
    line-height: 25px;
    font-weight: normal;
    opacity: 0.7;
    margin-bottom: 30px;
}

.link {
    width: 111px;
    height: 40px;
    background: #333;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all .3s;
    text-align: center;
    cursor: pointer;
}

.link .Vm {
    text-decoration: none;
    font-weight: normal;
    color: #f4f4f4;
    display: block;
}

.link:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #f4f4f4;
}

.RF h2 {
    color: #3591FF;
    margin-top: 20px;
}
.RF h4 {
    color: #3591FF;
    margin-top: 20px;
}
.RF h5 {
    color: #3591FF;
    margin-top: 20px;
}
.RF p {
    margin-top: 20px;
}
.RF li {
    margin-top: 10px;
}
.RF table {
    margin-top: 20px;
}



.RF {
    margin: auto;
    width: 90%;
}
.RF .Tbl {
    margin-top: -3px;
    border-collapse: collapse;
}
.RF table {
    border-collapse: collapse;
}
