@import url(header.css);
/* Texto */

p {
	text-align: left;
}

span {
	color: #1bb1dc;
}

/* =================== */

/* Otros */

.card img {
	height: 200px;
}

/* =================== */

/* H1 HV */

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

/* =================== */

/* Botón comenzar */

.btn-comenzar {
	background: #1bb1dc;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 600;
	transition: .5s;
}

.btn-comenzar:hover {
	background: #0a98c0;
	color: #fff;
}

/* Carousel */

.carousel img {
	height: 90vh;
}

