// Place all the styles related to the agentes/planeaciones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

label.Format{
  margin-right: auto;
  position: relative;
  top: -8px;
}
.TipoF{
  margin-right: 205px;
}
.BtnP{
  position: relative;
  left: 10px;
}
