// Place all the styles related to the agentes/ventas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
label{
  margin-left: -42px;
}
.Btn{
 position: relative;
 top: 60px;
 right: 85px;
}
