// Place all the styles related to the agentes/ventas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
label.MPago{
  margin-right: auto;

}
.Btn{
margin-left: auto;
position: relative;
top: 55px;
right: 155px;
}
