<table border="1" id="usuarios" class="table">
	<thead class="thead-dark">
		<th>Email</th>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @usuarios %>
	</tbody>
</table>

<div class="dropdown">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Nuevo Usuario', new_usuario_path, class: "dropdown-item" %>
		<%= link_to 'Ver Agentes', agentes_path, class: "dropdown-item" %>
  </div>
</div>
