<h2>Usuarios</h2>

<nav id="menuLateral">
		<ul id="ul">
				<!-- <li class="activo"><a href=""><i class="fas fa-home"></i> Inicio</a></li> -->
				<li><i class="fas fa-home"></i> <%= link_to ' Inicio', agentes_path %></li>
				<li><i class="fas fa-user-tie"></i><%= link_to 'Agentes', agentes_path %></li>
				<li><i class="fas fa-plus"></i><%= link_to 'Nuevo Usuario', new_usuario_path %></li>
		</ul>
</nav>

<table border="1" id="usuarios" class="table">
	<thead class="thead-dark">
		<th>Email</th>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @usuarios %>
	</tbody>
</table>

<div class="dropdown">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">


  </div>
</div>
