<h2>Usuarios</h2>

<div class="botones">
	<div class="btn btn-info">
		<i class="fas fa-user-plus"></i> <%= link_to 'Nuevo Usuario', new_usuario_path %>
	</div>
</div>

<table id="usuarios" class="table">
	<thead>
		<th>Email</th>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @usuarios %>
	</tbody>
</table>
