<%= email_image_tag("LogoEmpresa.PNG") %>

<h2>Sus datos han sido eliminados</h2>

<p>
  Cordial saludo señor(a) <%= @usuario.primerNombre %>, el presente correo es para informarle que ha sido dado de baja en nuestra plataforma.
</p>

<p>
  Cualquier inquietud comuniquese con nosotros.
</p>

<h4>Gracias, Planeadores</h4>
