// Place all the styles related to the agentes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
label.Mod{
  margin-right: auto;
  position: relative;
  top: -8px;
}
div.Modalidad{
  margin-right: 205px;
}
.BtnAgente{
  position: relative;
  left: 10px;
}
