/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 
 *= require_self
 *= require font-awesome
 */

* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: verdana, helvetica, neue;
  min-height: 100%;
  position: relative;
  padding: 0px;
}

#header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;

}

#header #btnNav {
  margin: 0 30px;
  cursor: pointer;
}

#header .dropdown {
  margin-right: 60px;
}

#header2 {
  height: 50px;
  margin-bottom: 50px;
}

#menuLateral {
  width: 120%;
  height: 95vh;
  position: fixed;
  top: 70px;
  left: -300px;
  z-index: 100;
  transition: all .3s;
  background: none;
  overflow: hidden;
  display: none;
}

    #menuLateral ul {
      background: #5a5c69;
      width: 300px;
      height: 95vh;
    }

    #menuLateral ul li {
      padding: 20px 15px;
      width: 90%;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #858796;
      margin-left: 10px;
    }

    #menuLateral ul li a {
      color: #fff;
      text-decoration: none;
      display: block;
      width: 100%;
      margin-left: 5px;
    }

    #menuLateral ul li i {
      color: #fff;
    }

footer {
  background: #5a5c69;
  color: #fff;
  height: 70px;
  width: 100%;
  margin-top: 30px;
  bottom: 0;
}


a {
  font-weight: bold;
  text-decoration: none;
  color: #17a2b8;
}

header {
  /*background: #38d39f;*/
  /*color: #3E4543;*/
  background: #5a5c69;
  color: #fff;
  padding: 10px;
  margin-bottom: 25px;
}

.show {
  display: block;
}

.show > ul {
  margin-bottom: 25px;
}

.show a {
  color: #17a2b8;
}

table thead {
  background: #f6f8fa;
}

  table tbody tr td {
    /*text-align: center;*/
    transition: all .2s;
  }

  table tbody tr td:hover {
    background: lightgray;
  }

    table tbody tr td a {
      color: #006973;
    }

@keyframes flashMessage {
  0% {
    top: 0px;
    opacity: 0;
  } 100% {
    top: 100px;
    opacity: 1;
  }
}

@keyframes quitarMessage {
  0% {
    top: 100px;
    opacity: 1;
  } 100% {
    top: 0px;
    opacity: 0;
  }
}

.notice, .error {
  position: absolute;
  top: 100px;
  left: 40%;

  border: 2px solid #0096D3;
  width: 25%;
  text-align: center;
  padding: 10px 15px;
  background: #C1EDFF;
  border-radius: 10px;
  color: #0096D3;

  display: none;
  z-index: 100;
}

.alert{
  position: absolute;
  top: 100px;
  right: 38%;

  border: 2px solid #0096D3;
  width: 25%;
  text-align: center;
  padding: 10px 15px;
  background: #C1EDFF;
  border-radius: 10px;
  color: #0096D3;

  display: none;
  z-index: 100;
}

/* DataTables */

.dataTables_length, #usuarios_filter {
  margin-bottom: 10px;
}

/*Iconos Tablas*/

.fa-trash{
  color: rgb(236, 9, 9)
}
.fa-edit{
  color: rgb(22, 134, 224)
}
.editar{
  color: rgb(22, 134, 224)
}
.eliminar{
  color: rgb(236, 9, 9)
}
/*Graica Transacciones*/

.grafica {
  margin-top: 25px;
}

/*Show Agente*/

.list-group{
  width: 40%;
  height: 15%;

  margin-left: 30%;
  margin-top: -10px;
}

  .botones {
    margin-bottom: 25px;
  }

.botones a {
  color: #ffff;
}

.botones a:hover {
  color: #fff;
  text-decoration: none;
}

.botones i {
  margin-right: 3px;
  color: #fff;
}

.botones .regresar_form {
  margin-top: 20px;
  width: 160px;
}

.botones .regresar_form2 {
  margin-top: 20px;
  width: 190px;
}

.botones .regresar_form3 {
  margin-top: 20px;
  width: 200px;
}

.infoShow {
  margin-top: 25px;
}
